In [17]:
import sqlite3
import pandas as pd

from pathlib import Path

In [18]:
database_path = "boat.sqlite"
Path(database_path).touch()

In [19]:
conn = sqlite3.connect(database_path)
c = conn.cursor()

In [20]:
c.execute('''CREATE TABLE boat (ID int PRIMARY KEY, Currency text, Price float, Boat Type text, Manufacturer text, Year Built int,
          Length (meters) float, Width (meters) float, Material text, Number of views last 7 days int, Date datetime, Price in EUR float,
          Price in USD float, City text, Country text, Condition text, Fuel text)''')

OperationalError: table boat already exists

In [22]:
csv_boat = pd.read_csv("ETL_Final.csv")
csv_boat.to_sql("boat", conn, if_exists='replace', index=False)

9888

In [16]:
conn.close()